[[source]]
 name = "cougar"
 url = "https://pypi.org/simple"
 verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
mypy = "*"
coverage = "*"
pycodestyle = "*"
autopep8 = "*"
wheel = "*"
twine = "*"

[packages]
torch = "*"
torchvision = "*"
onnxruntime = "*"
tensorboardx = "*"
numpy = "*"
scipy = "*"
tqdm = "*"
onnx = "*"
opencv-python = "*"
matplotlib = "*"
cython="*"
tensorflow="*"
nvidia-ml-py3="*"
hjson = "*"
h5py = "==2.9.0"
cougar = {editable = true,path = "."}
scikit-learn = "*"
certifi = "*"
pip = "*"

[requires]
python_version = "3.7"

[scripts]
test = "python -m pytest tests/"
